@use '../base/settings';

.header {
    background-color: settings.$dark-blue;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: settings.$m-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}